.card-deck {
  margin-top: 70px;
  margin-bottom: 70px;
  align-items: start;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
}

.input-group {
  width: 80%;
  margin: 10px auto 10px auto;
}

.card-header-category {
  font-size: 0.9em;
}

.card-header-price {
  font-weight: bold;
  font-size: 1.2em;
}
