
#header h1 {
    text-align: center;
    font-size: 60px;
    font-variant: small-caps;
    font-family: "Proza Libre", Calibri, sans-serif;
    font-weight: bold;
    color: #5a3b45;
}

#header {
    background-color: rgba(255, 255, 255, .4);
    padding: 20px;
}