
.product-container {
    margin: 3vw auto;
    background-color: rgba(255, 255, 255, .4);
    padding: 10px;
    border-radius: 7px;
    height: 90%;
}

.product-image {
    width: 100%;
    margin: 20px auto;
    border: 3px solid rgba(160, 145, 150, .5);
    border-radius: 5px;
}

.product-name {
    font-size: 2vw;
    text-align: center;
    color: #5a3b45;
}

.product-category {
    padding: 0;
    margin: .5em auto ;
    font-size: 1.8vw;
    color: #685c60;
}

.product-category span {
    font-size: 1.4vw;
    padding: 0;
    font-style: italic;
    color: #85757B;
}

.product-price {
    font-weight: bold;
    font-size: 2.7vw;
    color: #685c60;
}

.no-results {
    font-size: 25px;
    text-align: center;
    color: #685c60;
}