.App {
  text-align: center;
}

.drop-down-parent {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.drop-down-child {
  display: inline-block;
  padding: .5rem .5rem;
  vertical-align: middle;
  width: 33%
}

.image {
  object-fit: scale-down;
}

.parent {
 display: flex;
 justify-content: center;
 align-content: center;
 flex-wrap: wrap;
}

/* .child {
  display: inline-block;
  flex-basis: 33.333333%;
}  */

.pagination {
  justify-content: center;
}


