ul{
  margin:0;
  padding:0;
  list-style:none;
  }

.category {
  float: left;
  font-size: 12px;
  display: inline
}

#category {
  margin-left: 300px;
}

.price {
  float: right;
  font-size: 30px;
  display: inline;
}

.product {
  font-size: 20px;
}

.contact-card{ 
 margin-top: 30px;
 width: 20rem;; 
 background:#fff; 
 padding:10px 20px; 
 text-align:center; 
 border:2px solid #d5d5d5;
 
}

.contact-card img{ 
 width:200px; 
 height:200px; 
 margin: 20px
}

.contact-card h3{ 
  color:#2a2a2a; 
  font-weight:500; 
  padding:6px 0;
  text-transform: uppercase;
 }

