{
  "extends": ["wesbos"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
