.drop  {
  display: inline-flex;
}

.searchLine {
  width: 45%;
  display: inline-flex;
  margin-left: 50px;
  margin-right: 0px;
  margin-top: 5%;
}

.card {
  margin: 10px;
  width: 600px;
  height: 100%;
} 

.try {
  display: inline-flex;
  margin-top: 5%;
}





