.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  color: #389fb1;
  background-color: #272c3a;
  font-family: 'Muli', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Spectral', sans-serif;
   /* font-family: 'Muli', sans-serif;  */
  font-size: 3.3rem;
  color: #389fb1;
  margin-bottom: 2.5rem;
}

hr {
  height: 2px;
  color: #cd7b6f;
  background-color: #cd7b6f;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 95%;
}

.search-filter-sort-row {
   font-family: 'Muli', sans-serif;
  display: inline-block;
  width: 30%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.searchbar-input-field {
  margin-left: 0.3rem;
}

.product-card {
  font-family: 'Muli', sans-serif;
  margin: 1.5rem;
}

.product-category {
  font-size: 11pt;
  text-align: left;
  color: #a0a09a;
}

.product-price {
  font-size: 11pt;
  text-align: right;
  color: #9abf4d;
}

.product-name {
  font-size: 13pt;
  font-weight: bold;
}

.product-card-container {
  display: inline-block;
  width: 30%;
  margin: 1rem;
}

.product-showcase-container {
  margin: 1rem;
}

.page-rule {
  color: #a0a09a;
  background-color: #a0a09a;
  width: 95%;
}

.pagination-text {
  font-family: 'Muli', sans-serif;
  color: #399a45;
}

 .page {
  color: #399a45;
  margin: 0.4rem;
}

.page:not(.selectedPage) {
  cursor: pointer;
  color: #cd7b6f;
}
