body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2b3034;
  background-color: #f3f9ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-outline-secondary {
  /* border-radius: 0px; */
  border-color: #f3f9ff00;
  /* background-color: white; */
  color: #2b3034;
  margin: 2px;
}

.add-product {
  margin-top: 4px;
  margin-left: 55px;
}

form {
  margin-top: 4px;
  margin-left: 9px;
  margin-right: 6px;
  /* color: white; */
}

.search-btn {
  padding-left: 20px;
  padding-right: 20px;
}

.sort-btn {
  margin-top: 14px;
  margin-bottom: 16px;
}

.text-right {
  text-align: right;
}

.reviews {
  text-align: left;
}

h2 {
  color: white;
  padding-top: 2px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  padding: 12px;
}

.card-img {
  max-height: 100%;
  width: auto;
}

.card-header {
  text-align: center;
}

.card-footer {
  text-align: center;
}

.center {
  text-align: center;
}

.page-buttons {
  padding: 5px;
}

.card-footer {
  background-color: rgb(253, 253, 253);
}
