span {
  font-size: 11px;
}
.total {
  font-size: 15px;
}
body {
  background-color: #eaebe7;
}

.card {
  display: table;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.input-group {
  margin: 20px;
  position: sticky;
}
