.products {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-card {
    padding: 1%;
    flex-grow: 1;
    flex-basis: 33%;
  }

  #category {
    margin-right: 50%;
} 

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  body {
    background-image: url(old_moon.png)
}