.product {
    border-style: solid;
    display: inline-block;
}

.category, .name {
    display: inline
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #category {
      margin-right: 25%;
  }