.products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .product-card {
    padding: 1%;
    flex-grow: 1;
    flex-basis: 33%;
  }

  #category {
    margin-right: 50%;
} 

  .footer {
    bottom: -15px;
    position:fixed;
  }
  body {
    background-image: url(old_moon.png)
}