.App {
  text-align: center;
}

.App-header {
  background-color: cyan;
  height: 75px;
  padding: 20px;

}

.App-title {
  font-size: 1.5em;
}

.navbar {
  display: block;
  overflow: hidden;
  background-color: grey;
}

.navbar a {
  float:left;
 
 
}