.d-flex {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-fill {
  width: 30%;
  max-width: 30%;
  min-width: 300px;
  margin: 5px;
}

.prod-image-box {
  text-align: center;
}
.prod-image {
  width: 75%;
  border: black;
  border-style: solid;
}

.prod-name {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.prod-category {
  padding-left: 55px;
  font-size: 20px;
  width: 75%;
  display: inline-block;
}

.prod-price {
  font-size: 25px;
  width: 25%;
  display: inline-block;
}

.flex-fill-categories {
margin-right: 25%;
}

.flex-fill-sortby {
  align-items: right;
}

.flex-fill-search {
  width: 30%;
  margin-right: 25%;
}

.form-control {
  min-width: 200px;
}

.pages {
  padding-left: 0px;
  text-align: center;
}
.pages li {
  font-size: 20px;
  margin-left: 3px;
  margin-right: 3px;
  list-style: none;
  display: inline-block;
}