body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
  padding: 20px;
}

#searchbox {
  margin-left: 0px;
}

#dropdowncategory {
  margin-left: 0px;
  font-size: 10px;
}

#dropdownsortandrefresh {
  margin-left: 0px;
}

.btn-refresh {
  margin-left: 20px;
}

.product-grid {
  padding-top: 20px;
}

.productImage {
  height: 150px;
  border-width: 20px;
  border-color: black;
}

.category {
  font-size: 10px;
  margin-left: 90px;
}

.price {
  margin-left: 45px;
}

.pagination {
  padding-top: 20px;
  margin-left: 500px;
  margin-bottom: 0px;
}

.product-count {
  padding-top: 0px;
  margin-left: 470px;
  font-size: medium;
}
