/* .parent {
  margin-left: 5%;
  display: grid;
  grid-gap: 250px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
} */

img {
  width: 250px;
  height: 200px;
}

/* .parent > div {
  padding: 100px;

  display: grid;
  place-items: center;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  /* background-color: lightgray; */
  /* border: 1px solid black; */
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  background-color: white;
  width: 400px;
  border-radius: 8px;
  box-shadow: rgb(112, 110, 110) 2px 2px 8px;

  /* 
  border: 1px red solid; */
}

.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 250px;
  margin: auto;
  /* border: 1px orange solid; */
}

.page-format {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  border: 1px solid indigo;
}

.btn-layout {
  padding: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 30%;
  background-color: white;
  box-shadow: rgb(112, 110, 110) 2px 2px 2px;
}

.btn:hover {
  background-color: rgb(84, 88, 88);
}
