.search-style {
  margin-top: 25px;
  height: 100%;
  width: 100%;
  margin-bottom: 75px;
}

input {
  height: 20px;
  width: 33%;
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: #01161e 0px 0px 5px;
}

select {
  height: 30px;
  width: 150px;
  font-size: 16px;
  margin-left: 20px;
  box-shadow: #01161e 0px 0px 5px;
  text-align: center;
  border-radius: 10px;
  border: none;
}

.form-style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px 20px;
  background-color: #eff6e0;
  border-radius: 20px;
}
