.search-style {
  margin-top: 25px;
  height: 100%;
  width: 100%;
}

input {
  height: 100%;
  width: 33%;
  font-size: 16px;
  padding: 5px;
}

select {
  height: 40px;
  width: 150px;
  font-size: 16px;
  margin-left: 20px;
}

.page-format {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
