body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.prompt {
  margin-top: 2%;
}

.buttonBundle {
  display: flex;
  justify-content: flex-start;
}

button {
  margin-right: 20px;
}
.cardsContainer {
  margin-top: 2%;
}
.card {
  width: "10rem";
  height: "auto";
}
