body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.empty {
  margin-top: 30px;
}

.card {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  padding: 2px;
  margin: 7%;
}

.category {
  font-size: x-small;
  float: left;
}
.price {
  float: right;
}

.product-list {
  text-align: center;
  align-items: center;
}

.image-container{
  text-align: center;
}
img {
  width: 120px;
  height: 60px;
}

h1 {
  text-align: center;
}