.searchbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 40px auto;
}
input,
select {
  margin-right: 20px;
}
form {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  height: 40px;
  padding-bottom: 20px;
}
button {
  height: 40px;
  outline: none;
}
