nav.navbar {
  background-color: rgb(79, 71, 87);
}

nav .navbar-brand {
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-left: 20px;
}

.search-container {
  margin: 6rem 4rem;
}
.search-sort-area {
  display: flex;
  gap: 2rem;
}

.default-sort {
  color: rgb(106, 102, 110);
}
.btn {
  margin: 0;
  padding: 0;
}

.btn.btn-primary {
  background-color: rgb(109, 93, 124);
  color: white;
  border-color: rgb(109, 93, 124);
  outline: none;
  font-weight: bold;
  transition: 0.4s;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:active {
  color: white;
  background-color: rgb(109, 93, 124);
  box-shadow: 0 0 0 5px rgba(81, 65, 97, 0.2);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 1rem 0;
  padding: 0;
}

.card-group {
  width: 25%;
  padding: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 0 5px 1px rgba(114, 78, 151, 0.3);
}

.card-title,
.card-heading,
.card-body {
  color: rgb(81, 65, 97);
}

.card-heading,
.card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.category {
  font-weight: bold;
}

.card-img-top {
  padding: 10px;
}

.page-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 8rem;
}

li.page-item {
  list-style: none;
  margin: 5px;
}

a.page-link {
  color: rgb(114, 78, 151);
  padding: 5px 20px;
  border-radius: 10px;
}

button.page-link,
button.page-link:link,
button.page-link:visited {
  margin: 5px;
  color: rgb(114, 78, 151);
  border-radius: 10px;
  transition: 0.4s;
  width: 10%;
  font-weight: bold;
}

button.page-link:focus,
button.page-link:hover,
button.page-link:active {
  background-color: rgb(114, 78, 151);
  color: white;
}
