table {
  width: 500px;
  table-layout: auto;
  border: 5px;
}

.products-table {
  width: 500px;
  margin: auto;
  padding: 10%;
  border: 1px;
  table-layout: auto;
}

.product-display {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style-type: none;
}
