.search-bar-area {
    border-left: 1px grey solid;
}

.products {
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
}

.product-image {
    height: auto;
    width: 240px;
}

.product-detail-name {
    font-size: 50px;
    margin: 20px;
}

.product-detail-image {
    height: 240px;
}

.link {
    color: black;
}

.btn-link {
    border: none;
    font-size: 25px;
    margin-top: 35px;
}

.btn-link:hover {
    cursor: pointer;
}

.container {
    margin-bottom: 120px;
}