table {
  width: 75%;
  border: 5px;
}

.products-table {
  width: 500px;
  margin: auto;
  padding: 10%;
  border: 1px;
}

.product-display {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 10px;
}

li {
  list-style-type: none;
}
