body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-collapse {
  justify-content: center;
}

.me-auto {
  margin-right: 50px;
}
.card-price {
  text-align: right;
}
.card {
  width: 250px;
  margin: auto;
}
#products-container {
  align-items: center;
}
